---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$white-color:     #F5F5F5;
$brown-color:     #342727;
$purple-color:    #A98AA8;

$blue-color:      #96C0CE;
$grey-color:      #74828F;
$dark-grey-color: #525564;

body {
  background-color: $white-color;
  a {
    color: $blue-color;
  }
}


Navbar
.navbar-height .navbar-padding-vertical {
  height: 40px;
}

.navbar {
  background:    $white-color;
  border-top:    4px solid $blue-color;
  border-bottom: none;

  .navbar-brand {
    color: $brown-color;
    font-size: 24px;
  }
}

.navbar-default {
  .navbar-nav {
    li {
      a {
        color: $brown-color;
        font-size: 14px;
      }
    }
  }

  .navbar-toggle {
    border: 2px solid $brown-color;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $brown-color;
}


// Front page

.container {
  width: auto;
  max-width: 680px;
  margin-top: 100px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

h1 {
  background-color: $dark-grey-color;
  color: #fdfdfd;
  margin-left: 20px;
  padding-left: 32px;
}

h2 {
  background-color: $grey-color;
  color: #fdfdfd;
  padding-left: 8px;
}

h3 {
  color: #fdfdfd;
  padding-left: 8px;
}

h4 {
  background-color: $grey-color;
  color: #fdfdfd;
}


.header-title {
  font-size: 24px;
  color: $grey-color;
}

.portfolio-project-container {
  ul {
    list-style-type: none;
  }

  h3 {
    color: $grey-color;
  }

  ul li :hover {
    background-color: white;
  }
}

.portfolio-cell {
  min-height: 70px;
  border-left: 2px solid $grey-color;
  margin-top: 40px;
}
