<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container">
      <h2 style="width:100px;">THIS</h2>
      <h1 style="width:140px;">PAGE</h1>
      <h3 style="width:40px;">IS</h3>
      <h2 style="width:260px;">INTENTIONALLY</h2>
      <h3 style="width:140px; padding-left:74px;">LEFT</h3>
      <h1 style="width:164px;">BLANK</h1>
      <h3 style="width:140px; padding-left:42px; color:#a98aa8"><3</h3>
    </div>

    {% include footer.html %}
  </body>

</html>
