<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container">
      <div class="header-title">
        <p>
          Volkan Edis // Portfolio <br>
        </p>
      </div>
      <div class="portfolio-project-container">
        <ul>
          <li>
            <div class="portfolio-cell">
              <h3>clever-tanken.de</h3>
              <ul>
                <li><a href="https://itunes.apple.com/de/app/clever-tanken/id300763441?mt=8">App Store</a></li>
                <li><a href="http://www.windowsphone.com/de-de/store/app/clever-tanken-de/a4b6ca8d-f1e6-4850-ad03-a21b6390454a">Windows Phone Store</a></li>
                <li><a href="https://www.clever-tanken.de">Web</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=de.mobilesoftwareag.clevertanken">Google Play</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="portfolio-cell">
              <h3>Guide Finder</h3>
              <ul>
                <li><a href="https://itunes.apple.com/de/app/guidefinder/id991823588?mt=8">App Store</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="portfolio-cell">
              <h3>Light Control App</h3>
              <ul>
                <li><a href="https://itunes.apple.com/de/app/light-control/id1068986184?mt=8">App Store</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="portfolio-cell">
              <h3>Mein Budget</h3>
              <ul>
                <li><a href="https://itunes.apple.com/de/app/mein-budget-ausgaben-im-griff/id637370726?mt=8">App Store</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="portfolio-cell">
              <h3>Nordbayerischer Kurier</h3>
              <ul>
                <li><a href="https://itunes.apple.com/de/app/kurier-service/id666309521?mt=8">App Store</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="portfolio-cell">
              <h3>Stadtwerke Ansbach</h3>
              <ul>
                <li><a href="https://itunes.apple.com/de/app/stadtwerke-ansbach/id978700379?mt=8">App Store</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="portfolio-cell">
              <h3>Prelado</h3>
              <ul>
                <li><a href="https://itunes.apple.com/us/app/prelado/id580210474?mt=8">App Store</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
